<article class="post">
  <header>
  	<div class="icon"></div>
  	<time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ post.url | relative_url }}">{{ post.date | date_to_string }}</a></time>
  	<h1 class="title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
  </header>
  <div class="entry">
  {%- if site.show_excerpts -%}
          {{ post.excerpt }}
  {%- else -%}
    {{ post.content }}
{%- endif -%}
  </div>
  <footer class="end-sep">
  	<div class="alignleft">
          <a href="{{ post.url | relative_url }}" class="more-link">Read More</a>
    </div>
    <div class="clearfix"></div>
  </footer>
</article>